.title-container {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 0.5rem;
  left: 15px;
  top: -20px;
  min-height: 40px;
  max-width: calc(100% - 30px);
  /* 15px a la izquierda y derecha el bordeRadius */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.card-popular-city:hover .image-container {
  transform: scale(1.2);
}

.card-popular-city {
  position: relative;
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.description-container {
  position: absolute;
  top: 0;
  width: 100%;
  right: -100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.card-popular-city:hover .description-container,
.card-popular-city:focus-within .description-container {
  right: 0;
}

.read-more-icon-container {
  position: absolute;
  right: 0px;
  border-right: 1px solid #fff;
  /* 13px es la mitad tamaño del icono */
  top: calc(50% - 13px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 0 0 5px;
  transition: all 0.4s ease-in-out;
}

.card-popular-city .read-more-icon {
  animation: rotateOutAnimation 0.4s ease-in-out forwards;
}

.card-popular-city:hover .read-more-icon {
  animation: rotateInAnimation 0.4s ease-in-out forwards;
}

@keyframes rotateInAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateOutAnimation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
